# File that holds the Account number
Account.txt

# API Files from IB 
bin/
bin/com/
ib/
bin/com/ib/controller/
bin/com/ib/client/
QQQ*.*
SPY*.*
VIX*.*
VXN*.*
Convert time index.xlsx
icon.gif
move_files.bat
recommendations.txt

# Excel sheet for checking algorithm
index.xlsx